<h1>Cokctail</h1>
<h2><%= @cocktail.name %></h2>


<h3>Doses </h3>
<p><% @cocktail.doses.each do |dose|%>
  <ul>
  <li> <%= dose.description %> |
    <%= dose.ingredient. name %></li>
    </%>
  </ul>
  <% end %>
</p>
<%= link_to "Back to list", cocktails_path , class:"btn btn-primary"%>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class:"btn btn-primary" %>
